<h1>Spring</h1>

<ul>
	<li th:each="todo : ${todoList}">
	<strike th:if="${todo.done}"><p th:text="${todo.name}"></p>
	<p th:text="${todo.desc}" />
	<p th:text="${todo.dueDate.getTime()}" />
	</strike>
	<div th:if="!${todo.done}"><p th:text="${todo.name}"></p>
	<p th:text="${todo.desc}" />
	<p th:text="${todo.dueDate.getTime()}" />
	</div>
	<form action="#" th:action="@{/todo/mark}" th:object="${todo}" method="post">	
		<input type="checkbox" name="done" th:checked="${todo.done}" />
		<input type="hidden" name="id" th:value="${todo.id}" />
		<p><input type="submit" value="Kaydet" /></p>
	</form>
	<form action="#" th:action="@{/todo/edit}" th:object="${todo}" method="get">	
		<input type="hidden" name="id" th:value="${todo.id}" />
		<p><input type="submit" value="Edit" /></p>
	</form>
	</li>
</ul>